
django-hstore-widget {
  button {
    all: unset;
  }

  .min-width-\[150px\] {
    min-width: 150px;
  }

  .min-width-\[300px\] {
    min-width: 300px;
  }

  .flex {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .select-none {
    user-select: none;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .items-center {
    align-items: center;
  }

  .flex-col {
    flex-direction: column;
  }

  .invisible {
    visibility: hidden;
  }

  .gap-1 {
    gap: 0.25rem; /* 4px */
  }

  .gap-2\.5 {
    gap: 0.625rem; /* 10px */
  }

  .opacity-60 {
    opacity: 0.6;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-default {
    cursor: default;
  }

  .brightness-90 {
    filter: brightness(0.9);
  }

  .warning {
    color: var(--error-fg, red);
    border-color: var(--error-fg, red);
  }
}
