django-hstore-widget {
    .wrapper {
        display: flex;
        gap: 10px;
    }

    .left {
        min-width: 150px;
    }

    .right {
        min-width: 300px;
    }

    .centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .end-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hidden {
        display: none;
        visibility: hidden;
    }
}
