django-hstore-widget {
    .min-width-\[150px\] {
        min-width: 150px;
    }

    .min-width-\[300px\] {
        min-width: 300px;
    }

    .flex {
        display: flex;
    }

    .justify-center {
        justify-content: center;
    }
    .justify-between {
        justify-content: space-between;
    }
    .items-center {
        align-items: center;
    }

    .flex-col {
        flex-direction: column;
    }
    .invisible {
        visibility: hidden;
    }
    .hidden {
        display: none;
    }

    .gap-1 {
        gap: 0.25rem; /* 4px */
    }

    .gap-2\.5 {
        gap: 0.625rem; /* 10px */
    }
    .opacity-60 {
        opacity: 0.6;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .cursor-default {
        cursor: default;
    }

    .warning {
        border-color: red;
    }
}
